<!DOCTYPE html>
<html lang="en">

    <head>
      <title>Home Page</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
      <!-- Latest compiled and minified JavaScript -->


      <style>

        body {
          padding-top: 50px;
          font-family: Verdana;
        }

        .starter-template {
          padding: 40px 15px;
          text-align: center;
        }

        .form {
          position: fixed;
          left: 66%;
          top: 20%;
        }

      </style>
    </head>

    <body>

        {% include 'navbar.html' %}

        <div class="container">
          {% block home %}

          {% endblock %}
        </div>

    </body>

</html>
